.footerContainer {
  /* background: #f7f7f7; */
  /* color: #000; */
  padding: 20px;
  font-family: 'Arial', sans-serif;
}
.logoImage {
  width: 150px;
  height: auto;
  object-fit: contain;
}

.footerContent {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 10px;
  
}

.footerLeft,
.footerCenter,
.footerRight {
  flex: 1;
  min-width: 220px;
}
.para{
  color: rgb(231, 228, 228);
}
.footerLeft h2 span {
  background-color: #5d3eff;
  color: white;
  padding: 6px 10px;
  border-radius: 8px;
}
.footerLeft{
  color: rgb(226, 224, 224);
  font-weight: 600;
}
.footerLeft p,
.footerCenter p,
.footerRight p {
  font-size: 14px;
  line-height: 1.6;
}
.footerCenter h3{
  font-size: 1.6rem;
  color: #ffffff;
  font-weight: 800;
}
.footerRight h4{
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.5rem;
}
.footerRight h3{
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  font-weight: 900;
}
.dive{
  margin-top: 2px;
  background-color: #e5e5e9;
  padding: 10px 15px;
  border-radius: 10px;
}
.contactItem {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  margin-top: 8px;
}

.footerBottom {
  text-align: center;
  margin-top: 30px;
  font-size: 13px;
  color: #e7e4e4;
  display: flex;
  justify-content: space-between;
}

.socialIcons {
  display: flex;
  justify-content: center;
  gap: 15px;
  font-size: 18px;
  margin-top: 10px;
  color: white;
}

@media screen and (max-width: 768px) {
  .footerContent {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footerLeft,
  .footerCenter,
  .footerRight {
    width: 100%;
  }

  .contactItem {
    justify-content: center;
  }

  .socialIcons {
    justify-content: center;
  }
}






.footerCenter p{
  padding: 5px;
}
.footerCenter p {
  transition: color 0.3s ease;
  color: rgb(223, 222, 222);
  font-weight: 600;
}

.footerCenter p:hover {
  color: white !important;
  cursor: pointer !important; 
}






/* Footer.module.css */

.rippleBackground {
  background: #9333ea;
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  width: 100%;
  /* height: 100vh; */
  position: relative;
  overflow: hidden;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
  /* border-radius: 50%; */
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}
.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}
.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}
.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}
.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}
.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}
.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}
.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}
.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}
.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
  }
}
