
figure{
  background-color: #0e1a2b;
  color: rgb(145, 141, 141);
  font-weight: 600;
  border-radius: 30px;
  padding: 20px;
  width: 400px;
  font-family:Arial, Helvetica, sans-serif;
  margin: 10px;
}
.front{
  padding-left: 50px;
}
.frnt{
  display: flex;
  align-items: center;
  
}
.frnt img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 5%;
}

.test{
   color: #4f46e5;
   font-weight: bold;
   text-align: center;
   text-decoration: underline 3px;
   margin-top: 3%;
}
.test2{
  font-weight: bold;
  font-size: 5rem;
  text-align: center;
}
.test3{
   text-align: center;
   font-size: 16px;
   width: 1000px;
   margin: 0 auto;
   margin-top: 2%;
}
.test4{
   text-align: center;
  
   color: #4f46e5;
}
.test4:hover{
  text-decoration: underline;
}
@media(max-width:768px){
  .test3{
    width:100% ;
  }
  .Accordian{
    width: 100% !important;
}
}
.Accordian{
    width: 1000px;
    margin: 0 auto;
    margin-top: 3%;
    
}
.Accordian :global(.accordion-button) {
  font-size: 20px;  
  font-weight: 600; 
}

.Accordian :global(.accordion-body) {
  font-size: 18px;   
  line-height: 1.6;  
}
.Accordian :global(.accordion-button):hover{
  color: #4f46e5;
  text-decoration: underline;
}